
/* Chỉ 1 dòng import cho v4 */
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --color-primary-blue: #116ce4;
  --color-primary-yellow: #ffd43b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
